body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

@font-face {
    font-family: 'itcast';
    src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'), url('../font/MiFie-Web-Font.svg') format('svg'), url('../font/MiFie-Web-Font.ttf') format('truetype'), url('../font/MiFie-Web-Font.woff') format('woff');
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: itcast;
    font-style: normal;
}

#header {
    height: 200px;
    background-color: #f0f0f0;
}

section {
    height: 200px;
    background-color: #fff;
}


#header > .topbar > .container > .row > div {
    /*height: 40px;*/
    /*border-bottom: 1px solid #c0c0c0;*/
    background-color: #f40;
    height: 40px;
}

#header > .topbar > .container > .row > div:nth-of-type(2n) {
    /*height: 40px;*/
    /*border-bottom: 1px solid #c0c0c0;*/
    background-color: #f00;
}

section:nth-of-type(2n+1) {
    background-color: #f5f5f5;
}

footer {

}